<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<groups>
<run>
<include name="ramu"></include>
</run>
</groups>
  <test thread-count="5" name="ActualTest">
    <classes>
     
      <class name="HackerAdda.Tests.EcommersTest"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="Testing">
    <classes>
      <class name="HackerAdda.Tests.ErrorCather"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
